<div class="buildingWrapper">
	<div class="buildingTop">
		<div class="leftInfo">
			<p class="pHeader">
                        BUILDING DIRECTORY
			</p>
                        <p class="pHeaderUnderline">_______________________</p>
			<p class="browseBy">
                            BROWSE BY <span ng-class="{'greenBorder': byCompName}" ng-click="sortSet()" >COMPANY NAME</span> 
                            <span class="orSpan">OR</span> 
                            <span ng-class="{'greenBorder': !byCompName}" ng-click="sortSet()">INDIVIDUAL</span>
			</p>
			<input class="searchField" type="search" ng-model="searching.searchIt">

                        <div class="listing" ng-if="byCompName">
                            <div class="listHeader">
                                <ul>
                                    <li>
                                        <span class="cNameLeft">Company </span>  
                                        <span class="floorCenterComp">Floor</span>
                                        <span class="suiteRight">Suite</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="listingOutput">
                                <ul>
                                    <li ng-repeat="comp in companies | orderBy:ordering | filter: searching.searchIt">
                                                <!--| filter: filterByLetter(letter)"> -->
                                        <span class="cNameLeft">{{comp.cname}}</span>  
                                        <span class="floorCenterComp">{{comp.floor}}</span>
                                        <span class="suiteRight">{{comp.suite}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="listing" ng-if="!byCompName">
                            <div class="listHeader">
                                <ul>
                                    <li>
                                        <span class="indNameLeft">Individual</span>  
                                        <span class="floorCenterInd">Floor</span>
                                        <span class="compRight">Company</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="listingOutput">
                                <ul>
                                    <li ng-repeat="indiv in individuals | orderBy:ordering | filter: searching.searchIt | filter: filterByLetter(letter)">
                                        <span class="indNameLeft">{{indiv.name}}</span>
                                        <span class="floorCenterInd">{{indiv.floor}}</span>
                                        <span class="compRight">{{indiv.cname}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>                            
                </div>
	<!--</div> -->

            <div class="rightAlpha">
            <!--click a letter scrolls to the letter, not filters by letter -->
                <a ng-attr-class="{{char.ch===letter && 'sideGreen'}}" ng-repeat="char in chars" ng-click="setsearchChar(char)">
                    {{char.ch}}
                </a>
            </div>
        </div>
	<div class="buttonToHood" ng-click="changeView('neighborhoodGuide')">
		<div class="innerText">
			<span class="touchHere">TOUCH HERE</span><span class="FOR">FOR</span><span class="neighBuild">NEIGHBORHOOD</span><span class="guideDir"> GUIDE</span>
		</div>
	</div>

</div>